# 00_파이썬기초 복습

### 1) range()를 사용하여, 1~100의 수 중, 7의 배수를 리스트 a에 담으시오.

In [14]:
a = [i for i in range(7,101,7)]
a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [15]:
a = list(range(7,101,7))

### 2) a에서 인덱스 4~7까지 조회하시오.

In [16]:
a[4:8]

[35, 42, 49, 56]

### 3) a의 끝에서 세번째 값을 조회하시오.

In [21]:
a[-3:]

[84, 91, 98]

### 4) a에 데이터 갯수(길이)를 구하시오.

In [22]:
len(a)

14

### 5) a 값들의 합과 평균을 구하시오.

In [40]:
import pandas as pd
import numpy as np
print('합은 ' + str(sum(a)) + ' 입니다')
print('평균은 ' + str(np.mean(a)) + ' 입니다')

합은 735 입니다
평균은 52.5 입니다

### 6) [심화] 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아봅시다.
* 소수(prime number) : 1과 자기자신으로만 나누어 지는 수

In [19]:
prime_number = []

for i in range(2,101):
    devide = 0
    for j in range(1,i+1):
        if i % j == 0:      # 2 % 3 and 2 % 2 == 0
            devide += 1
        if devide == 2:
            prime_number.append(i)    

print(prime_number)

[2, 3, 4, 4, 5, 6, 7, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 11, 12, 13, 14, 14, 14, 14, 14, 15, 15, 16, 16, 17, 18, 19, 20, 20, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 29, 30, 31, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 36, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 41, 42, 43, 44, 44, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 53, 54, 55, 55, 55, 55, 55, 55, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 59, 60, 61, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 63, 63, 63, 63, 64, 64, 65, 65, 65, 65, 65, 65, 65, 65, 66, 67, 68, 68, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 70, 70, 70, 71, 72, 73, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 75, 75, 76, 76, 77, 77, 77, 77, 78, 79, 80, 80, 81, 81, 81, 81, 81, 81, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 83, 84, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 85, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 86, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 87, 88, 88, 89, 90, 91, 91, 91, 91, 91, 91, 92, 92, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 96, 97, 98, 98, 98, 98, 98, 99, 99, 99, 99, 99, 99, 100, 100]

##### 제곱근을 사용한 풀이 방법

In [24]:
import math

prime_number=[]
for i in range(2,101):
    devide = 0
    for i in range(2, int(math.sqrt(i) + 1)):
        if i % j == 0:
            devide += 1
    if devide == 0:
            prime_number.append(i)

print(prime_number)

[2, 3, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10]

### 7) [심화] 6번의 코드를 참조하여, 소수 추출기 함수를 만들어봅시다.
* 입력변수 : 정수 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트
* [주의] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

In [25]:
def prime(n):

    prime_number = []

    for i in range(2,101):
        devide = 0
        for j in range(1,i+1):
            if i % j == 0:      # 2 % 3 and 2 % 2 == 0
                devide += 1
        if devide == 2:
                prime_number.append(i)    

    return(prime_number)

print(prime(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [35]:
import math

def prime2(n):
    prime_number=[]
    for i in range(2,n + 1):
        devide = 0
        for j in range(2, int(math.sqrt(i) + 1)):
            if i % j == 0:
                devide += 1
        if devide == 0:
                prime_number.append(i)

    return(prime_number)

print(prime2(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#### 속도비교

In [34]:
import time

start = time.time()
prime(10000)
print("prime's time : ", time.time() - start)

start = time.time()
prime2(10000)
print("prime2's time : ", time.time() - start)

prime's time :  0.0009951591491699219
prime2's time :  0.03357696533203125

### 8) 아래 값으로 딕셔너리 d를 생성해봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [7]:
d = {'v1': [1,2,3], 'v2': {'a':23,'b':[4,5]}}
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

### 9) d에서 [1,2,3]을 출력해봅시다.

In [8]:
d['v1']

[1, 2, 3]

### 10) d에서 23을 출력해봅시다.

In [9]:
d['v1'][1:]

[2, 3]

### 11) d에서 5를 출력해봅시다.

In [11]:
d['v2']['b'][1]

5

### 12) d에 'newKey', value(1,2)를 추가하고 출력해봅시다.

In [13]:
d['newKey'] = [1,2]
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}, 'newKey': [1, 2]}

### 13) [심화] 반복문과 딕셔너리를 사용하여 주어진 단어에서 가장 많이 사용된 알파벳을 출력해봅시다.
* 주어진 단어 : "Big Data Analysis"
* 대문자, 소문자는 구분하지 않습니다.
* 가장 많이 사용된 알파벳을 2개 이상일 경우, 전부 출력해줍니다.

In [67]:
S = 'Big Data Analysis'
#S = ''.join(S.lower().split(' '))
alphabet= {}

In [68]:
k = S.lower()
k

'big data analysis'

In [69]:
k = S.lower().split(' ')
k

['big', 'data', 'analysis']

In [72]:
k = ''.join(S.lower().split(' '))
k

'bigdataanalysis'

In [56]:
for i in S:
    if i not in alphabet:
        alphabet[i] = 1   # b 알파벳이 한 번 나왔다
    else:
        alphabet[i] += 1


alpha_list = []
for k,v in alphabet.items():
    if v == max(alphabet.values()):
        alpha_list.append(k)

print(alpha_list)

['a']

In [57]:
alphabet

{'b': 2,
 'i': 4,
 'g': 2,
 'd': 2,
 'a': 8,
 't': 2,
 'n': 2,
 'l': 2,
 'y': 2,
 's': 4}

In [2]:
import numpy as np

In [4]:
tensor = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
tensor

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [5]:
tensor[[1,0,0],[1,0,1],[0,1,2]]

array([10,  2,  6])