# 책 대여점 on JupyterNotebook

만약 cx_Oracle 모듈이 없으면 콘솔에서 설치할 것
```shell
> pip install cx_oracle
```

In [28]:
# cx_Oracle 모듈 첨부
import cx_Oracle as ora

### DB연결함수
사용법
```python
mycon()
```

In [29]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name = 'orcl')
    conn = ora.connect(user='scott', password = 'tiger', dsn = dsn, encoding = 'utf-8')
    return conn

### DivTbl 전체조회함수
사용법
```python
getAllDataFromDivtbl(conn) # conn은 연결객체
```

In [30]:
def getAllDataFromDivtbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT division, names ' \
            '  FROM divtbl ' 
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [31]:
def getAllDataFromBookstbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT idx, author, division, names, ' \
            '      TO_CHAR(releasedate, \'YYYY-MM-DD\') ' \
            ' FROM bookstbl ' \
            ' ORDER BY idx ASC '
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [32]:
getAllDataFromDivtbl(conn)

('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I006', '건강')
('I008', '어린이')
('I002', '자기개발')
('I004', '재태크')
('I005', '어린이')

In [33]:
# DB연결 실행
conn = myconn()
print('접속')

getAllDataFromDivtbl(conn)

접속
('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I006', '건강')
('I008', '어린이')
('I002', '자기개발')
('I004', '재태크')
('I005', '어린이')

### 신규 장르 입력
사용법
```python
tup = (division, names)
setDataIntoDivtbl(conn, tup)
```

In [36]:
def setDataIntoDivtbl(conn , tup):
    cur = conn.cursor()
    query = 'INSERT INTO divtbl VALUES (:1, :2)'
    cur.execute(query, tup)
    conn.commit()
    cur.close()



division, names = input('장르코드, 장르명 입력(구분자, )' ).split(',')
tup = (division.strip(), names.strip())
setDataIntoDivtbl(conn, tup)
print('장르추가 성공')
getAllDataFromDivtbl(conn)

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
def getAllDataFromBookstbl(conn) -> None:
    names = input('검색할 책이름을 입력하세요.')
    cur = conn.cursor()
    query = 'SELECT idx, author, division, names, ' \
            '      TO_CHAR(releasedate, \'YYYY-MM-DD\') ' \
            ' FROM bookstbl ' \
            f' WHERE names LIKE \` %{names}%\' '\
            ' ORDER BY idx ASC '
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [35]:
getAllDataFromBookstbl(conn)

(1, '넬레 노이하우스', 'B001', '잔혹한 어머니의 날 1', '2019-10-07')
(2, '넬레 노이하우스', 'B001', '잔혹한 어머니의 날 2', '2019-10-07')
(3, '매뉴 라인하트', 'B006', '월드 오브 워크래프트 팝업북', '2019-10-21')
(4, '묵향동후', 'B003', '마도조사 2', '2019-09-03')
(5, '오코제키 다이', 'B005', '루팡의 딸', '2019-09-25')
(6, '조엘 디케르', 'B001', '스테파니 메일러 실종사건', '2019-08-12')
(7, '이지환', 'B002', '닥터 퀸 1-2세트', '2019-09-20')
(8, '김수지', 'B002', '희란국 연가', '2019-11-01')
(9, '알파타르트', 'B002', '재혼 황후 1', '2019-10-18')
(10, '안나 토드', 'B002', '애프터 7', '2019-08-30')
(11, '안타 토드', 'B002', '애프터 8', '2019-08-30')
(12, '남혜인', 'B002', '아도니스 11', '2019-08-26')
(13, '안드레아스 빙겔만', 'B001', '쉐어하우스', '2019-09-27')
(14, '비프케 로렌츠', 'B001', '너도 곧 쉬게 될 거야', '2019-09-18')
(15, '전건우', 'B001', '어위크', '2019-09-02')
(16, '토머스 해리스', 'B005', '카리 모라', '2019-09-11')
(17, '토머스 해리스', 'B005', '한니발', '2019-09-11')
(18, '정준', 'B003', '화산전생 17', '2019-08-23')
(19, '묵향동후', 'B003', '마도조사 1', '2019-07-30')
(20, '용대운', 'B003', '군림천사 35', '2019-07-26')
(21, '정준', 'B003', '화산전생 15', '2019-04-30')
(22, '김석진', 'B003', '삼류무사 2부16', '2019-04-02')
(23, '히가시노 게이고', 'B006', '기도의 막이 내릴 때', '2019-08-06')
(24, '히가시노 게이고', 'B006', '악의', '2019-07-25')
(25, '서철원', 'B004', '최후의 만찬', '2019-09-25')
(26, '마이 셰발, 페르 발뢰', 'B004', '어느 끔찍한 남자', '2019-09-20')
(27, '마이 셰발, 페르 발뢰', 'B004', '폴리스, 폴리스, 포타티스모스!', '2019-09-20')
(28, '김진명', 'B004', '살수 1', '2019-09-16')
(29, '김진명', 'B004', '살수 2', '2019-09-16')
(30, '손정미', 'B004', '도공 서란', '2019-09-16')
(31, '요안나', 'B002', '순수하지 않은 감각', '2019-10-02')
(32, '노승아', 'B002', '오늘부터 천생연분 1', '2019-09-18')
(33, '노승아', 'B002', '오늘부터 천생연분 2', '2019-09-18')
(34, '김이랑', 'B002', '조선혼담공작소 꽃파당', '2019-09-06')
(35, '전민석', 'B004', '감치', '2019-08-15')
(36, '나관중', 'B004', '삼국지 세트', '2019-07-25')
(37, '에리크 뷔야르', 'B004', '그날의 비밀', '2019-07-20')
(38, '요 네스뵈', 'B004', '폴리스', '2019-07-08')
(39, 'T. M. 로건', 'B005', '29초', '2019-09-18')
(40, '토머스 해리스', 'B005', '양들의 침묵', '2019-09-11')
(41, '송시우', 'B005', '대나무가 우는 섬', '2019-09-06')
(42, 'A. J. 핀', 'B005', '우먼 인 윈도', '2019-09-03')
(43, '이정명', 'B005', '밤의 양들 1', '2019-08-30')
(44, '이정명', 'B005', '밤의 양들 2', '2019-08-30')
(45, '정해연', 'B005', '내가 죽였다', '2019-08-21')
(46, '정준', 'B003', '화산전생 16', '2019-07-19')
(47, '무공진', 'B003', '화중매 상하 세트', '2019-07-15')
(48, '촌부', 'B003', '천애협로 10', '2019-06-03')
(49, '손선영', 'B003', '소암, 바람의 노래', '2019-05-17')
(50, '전민희', 'B006', '룬의 아이들 블러디드 2', '2019-09-25')
(51, '요나스 요나손', 'B006', '핵을 들고 도망친 101세 노인', '2019-09-25')
(52, '닐 셔스터먼, 재러드 셔스터먼', 'B006', '드라이', '2019-09-20')
(53, '스테파니 버지스', 'B006', '초콜릿 하트 드래곤', '2019-09-04')
(54, '브누아 필리퐁', 'B001', '루거 총을 든 할머니', '2019-07-30')
(55, '캐서린 스테드먼', 'B001', '썸씽 인 더 워터', '2019-07-24')
(56, '에이미 몰로이', 'B001', '퍼펙트 마더', '2019-07-22')
(57, '지건, 콕콕', 'B001', '잔혹동화', '2019-07-20')
(58, '류츠신', 'B006', '삼체 3', '2019-09-25')
(59, '히가시노 게이고', 'B006', '방과 후', '2019-07-10')

### 삭제함수
사용법
```python
pass
```

In [50]:
def delDataFromDivtbl(conn):
    division = input('삭제할 코드명 입력(예 : I004)')
    cur = conn.cursor()
    query = 'DELETE FROM divtbl WHERE division = :1'
    tup = (division,  ) #turple 하나짜리는 왼쪽처럼 만들어야
    cur.execute(query, tup)
    conn.commit()
    print('삭제 성공')
    cur.close()

In [51]:
delDataFromDivtbl(conn)

삭제 성공